// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #e3ffee;
$body-color: #4b9996;
$primary: #ffa3be;
$font-family-base: Verdana;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  padding: 20px;
}

.card {
  margin-top: 10px;
}
